In [10]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv('train_data.csv')
df
df.tail(10)

,ID,DR,NORMAL,MH,ODC,TSLN,ARMD,DN,MYA,BRVO,...,CRVO,CNV,RS,ODE,LS,CSR,HTR,ASR,CRS,OTHER
1754,im0381,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,1
1755,im0382,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1756,im0383,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1757,im0384,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1758,im0385,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1759,im0395,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1760,im0396,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
1761,im0398,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
1762,im0400,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1763,im0401,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
df = pd.read_csv('val_data.csv')
df

,ID,DR,NORMAL,MH,ODC,TSLN,ARMD,DN,MYA,BRVO,...,CRVO,CNV,RS,ODE,LS,CSR,HTR,ASR,CRS,OTHER
0,aria_c_28_19,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,aria_c_36_4,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,aria_c_40_b_14,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,aria_c_23_23,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,aria_c_43_1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,im0373,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
440,im0377,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
441,im0397,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
442,im0399,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
443,im0402,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

ID : Il s'agit probablement d'un identifiant unique pour chaque entrée dans votre ensemble de données. Cet ID est généralement utilisé pour référencer chaque enregistrement de manière unique.

DR : Cette colonne pourrait représenter une catégorie ou un label lié à une condition médicale liée à la rétinopathie diabétique (DR). Les valeurs de cette colonne indiqueraient probablement si un patient a ou non cette condition.

NORMAL : Cette colonne peut indiquer si l'image de l'œil est normale, c'est-à-dire si elle ne présente aucune anomalie ou pathologie.

MH : Il s'agit peut-être d'une abréviation de "Macular Hole" (trou maculaire). Cette colonne pourrait indiquer la présence ou l'absence de cette condition dans l'œil.

ODC : Cette abréviation pourrait faire référence à une condition oculaire spécifique. Sans plus d'informations, il est difficile de préciser à quoi cela correspond exactement.

TSLN : Cette colonne pourrait également représenter une condition oculaire spécifique. Il serait nécessaire d'avoir plus d'informations pour l'interpréter correctement.

ARMD : Il s'agit probablement d'une abréviation pour "Age-Related Macular Degeneration" (dégénérescence maculaire liée à l'âge). Cette colonne pourrait indiquer la présence ou l'absence de cette condition.

DN : Cette abréviation pourrait faire référence à une condition oculaire spécifique. Une explication plus détaillée serait nécessaire pour en savoir plus.

MYA : De même, cette colonne pourrait représenter une condition oculaire spécifique. Il serait important de comprendre la signification de cette abréviation.

BRVO : Cette colonne peut indiquer la présence ou l'absence d'une occlusion de la veine rétinienne (BRVO - Branch Retinal Vein Occlusion).

ODP : Cette colonne pourrait représenter une occlusion de la veine rétinienne (ODP - Ocular Dominance).

CRVO : De manière similaire à BRVO, cette colonne peut indiquer la présence ou l'absence d'une occlusion de la veine rétinienne centrale (CRVO - Central Retinal Vein Occlusion).

CNV : Cette abréviation pourrait faire référence à une condition liée à une néovascularisation choroïdienne (CNV - Choroidal Neovascularization).

RS : Cette colonne pourrait représenter une condition oculaire spécifique. Une description plus détaillée serait nécessaire.

ODE : De même, cette colonne pourrait indiquer la présence ou l'absence d'une condition oculaire particulière.

LS : Cette abréviation pourrait faire référence à une condition oculaire spécifique. Plus d'informations seraient nécessaires pour une interprétation précise.

CSR : Cette colonne pourrait indiquer la présence ou l'absence d'une condition appelée "Central Serous Retinopathy" (CSR).

HTR : Cette colonne pourrait représenter une condition oculaire spécifique. Il serait important de connaître la signification de cette abréviation.

ASR : De même, cette colonne pourrait indiquer la présence ou l'absence d'une condition oculaire particulière.

CRS : Cette colonne pourrait représenter une condition oculaire spécifique. Une description plus détaillée serait nécessaire.

OTHER : Cette colonne peut être utilisée pour indiquer toute autre condition oculaire qui ne rentre pas dans les catégories spécifiques énumérées ci-dessus.

In [16]:
df.isnull().sum()

ID        0
DR        0
NORMAL    0
MH        0
ODC       0
TSLN      0
ARMD      0
DN        0
MYA       0
BRVO      0
ODP       0
CRVO      0
CNV       0
RS        0
ODE       0
LS        0
CSR       0
HTR       0
ASR       0
CRS       0
OTHER     0
dtype: int64

#### The dataset contains no null values we can use it for our analysis. It still has string values but it's okay because we need to do a NLP analysis.